*{
    text-align: center;
}

button{
    margin: 0px 10px;
    border: none;
    border-radius: 20px;
    background-color:#3262cd ;
    color: white;
}

.control{
    display: -webkit-flex;
    align-content: space-between;
}

.header-Horario, .materias{
    display: flex;
    justify-items: center;
}

.horas, .hora{
    width: 100px;
    height: 20px;
    padding: auto;
    font-size: 17px;
}
.dia, .materia{
    width: 200px;
}

.extras,#horarios{
    margin: auto;
    padding: 10px 25px;
    padding-bottom: 50px;
    border-radius: 10%;
    border: 5px solid #3285cd;
    box-shadow: 11px 10px 23px 0px rgba(0,0,0,0.75);

}

.agregar
{
    padding: 15px;
    font-size: large;
    margin-top: 20px;
}

.notacion{
    display:flex;
    justify-content: center;
    align-content: center;
    margin: 10px auto;
}

.notacion-texto{
    width: 200px;
    padding: 0px 0px;
    font-size: 23px;
}


/*
#miniatura{
    margin-left: 20px;
}
.dia-mini{
    margin: auto 25px;
}
.hora-mini{
    font-size: 15px;
}
.cuadroColor{
    margin: 5px 5px;
}
*/

/*Quitando bordes al input de color*/
input[type="color"] {
	-webkit-appearance: none;
	border: 1px solid black;
	width: 35px;
    height: 35px;
    margin-right: 10px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}